apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ current_host_ip }}
  bindPort: 6443
nodeRegistration:
  kubeletExtraArgs:
    network-plugin: cni
    root-dir: {{ kubelet_root_dir }}
    hostname-override: {{ inventory_hostname }}
    pod-infra-container-image: {{ pod_infra_container_image }}
  criSocket: {{ cri_socket }}
  name: {{ inventory_hostname }}
{% if inventory_hostname in (groups['kube_master'] + groups['new_master']) and inventory_hostname not in (groups['kube_node'] + groups['new-worker']) %}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
{% else %}
  taints: []
{% endif %}
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ kubeadm_token }}
  ttl: 0s
  usages:
  - signing
  - authentication
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.20.15
clusterName: kubernetes
controlPlaneEndpoint: "127.0.0.1:8443"
certificatesDir: /etc/kubernetes/pki
dns:
  type: CoreDNS
  imageRepository: "{{ kube_image_repository }}"
imageRepository: "{{ kube_image_repository }}"